In [1]:
############################ REPLACE KEY WITH SECRET BEFORE PUBLISHING ###################################

In [29]:
import requests
import pandas as pd
import re
import datetime
import time

In [30]:
api_key = '71e8151556a197edb8ec9ea9855f2a1e'

In [31]:
###Get date list and convert to unix time

In [32]:
dfdate = pd.read_csv('date.csv')

In [36]:
dfdate.head(2)

   Unnamed: 0        Date   unix_date
0           0  2011-07-15  1310702400
1           1  2011-07-15  1310702400

In [38]:
#mktime assumes local time zone at 12am, germany is 6 hours ahead so it will be same day (6AM german time)
dfdate['unix_date'] = dfdate.Date.apply(lambda s: round(time.mktime(datetime.datetime.strptime(s, "%Y-%m-%d").timetuple())))

In [25]:
# it works!
dfdate.head()

   Unnamed: 0        Date   unix_date
0           0  2011-07-15  1310702400
1           1  2011-07-15  1310702400
2           2  2011-07-15  1310702400
3           3  2011-07-16  1310788800
4           4  2011-07-16  1310788800

In [ ]:
#### Demo code (with sample date, not whole list)

In [39]:
# daynow = "06/28/2019"
# time.mktime(datetime.datetime.strptime(daynow, "%d/%m/%Y").timetuple())
s = "01/12/2011"
daynow = time.mktime(datetime.datetime.strptime(s, "%m/%d/%Y").timetuple())
daynow = round(daynow)
daynow

#1294840800 - unx code for a few hours later same day

1294808400

In [ ]:
# Now create function to automate pulls json pulls

In [11]:
SEARCH_LIMIT = 10
url_base = 'https://api.darksky.net/forecast/'
longitude = '52.5200'
latitude = '13.4050'
url = url_base + api_key +'/' + str(longitude) + ',' + str(latitude) + ',' + str(daynow)
url

NameError: name 'daynow' is not defined

In [83]:
# headers = {'key':api_key}

# url_params = {
#                 'longitude':52.5200
#                 'latitude':13.4050
#                 'time':daynow
#             }
response = requests.get(url)#, headers=headers, params=url_params)

In [84]:
response.status_code

200