In [1]:
############################ REPLACE KEY WITH SECRET BEFORE PUBLISHING ###################################

In [86]:
import requests
import pandas as pd
import re
import datetime
import time

In [97]:
api_key = ''

In [ ]:
###Get date list and convert to unix time

In [98]:
dfdate = pd.read_csv('date.csv')

In [99]:
dfdate.head(2)

   Unnamed: 0       Date
0           0  7/15/2011
1           1  7/15/2011

In [100]:
dfdate['unix_date'] = dfdate.Date.apply(lambda s: round(time.mktime(datetime.datetime.strptime(s, "%m/%d/%Y").timetuple())))

In [101]:
dfdate.unix_date.head()

0    1310702400
1    1310702400
2    1310702400
3    1310788800
4    1310788800
Name: unix_date, dtype: int64

In [ ]:
#### Demo code (with sample date, not whole list)

In [102]:
# daynow = "06/28/2019"
# time.mktime(datetime.datetime.strptime(daynow, "%d/%m/%Y").timetuple())
s = "01/12/2011"
daynow = time.mktime(datetime.datetime.strptime(s, "%m/%d/%Y").timetuple())
daynow = round(daynow)

In [103]:
SEARCH_LIMIT = 10
url_base = 'https://api.darksky.net/forecast/'
longitude = '52.5200'
latitude = '13.4050'
url = url_base + api_key +'/' + str(longitude) + ',' + str(latitude) + ',' + str(daynow)
url

'https://api.darksky.net/forecast//52.5200,13.4050,1294808400'

In [83]:
# headers = {'key':api_key}

# url_params = {
#                 'longitude':52.5200
#                 'latitude':13.4050
#                 'time':daynow
#             }
response = requests.get(url)#, headers=headers, params=url_params)

In [84]:
response.status_code

200